{% extends 'base.html' %}




{% block content %}
    <h2>Your Cart</h2>
    {% if pizzas %}
        <ul>
            {% for pizza in pizzas %}
                <li>
                    <strong>Pizza ID: {{ pizza.id }}</strong><br>
                    Size: {{ pizza.size }}<br>
                    Cheese: {{ pizza.cheese }}<br>
                    Sauce: {{ pizza.sauce }}<br>
                    Crust: {{ pizza.crust }}<br>
                    Toppings: 
                    {% for topping in pizza.toppings.all %}
                        {{ topping }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    <p>Quantity: {{pizza.quantity}}</p>
                    <p>Price: {{ pizza.price|floatformat:2 }}</p>
                    <p>Actual Price: {{ pizza.total|floatformat:2 }}</p>
                    <form action="{% url 'increase' pizza.id %}" method="POST">
                        {% csrf_token %}
                        <button>+</button>
                    </form>
                    <form action="{% url 'decrease' pizza.id %}" method="POST">
                        {% csrf_token %}
                        <button>-</button>
                    </form>
                    <form action="{% url 'delete' pizza.id %}" method="POST">
                        {% csrf_token %}
                        <button>Remove Pizza From Cart</button>
                    </form>
                </li>
            {% endfor %}
            <p>Total: {{ cart.price|floatformat:2 }}</p>
        </ul>
        <form action="{% url 'payment' %}" method="POST">
            {% csrf_token %}
            <button>Pay Here</button>
        </form>
    {% else %}
        <p>Your cart is empty!</p>
    {% endif %}
{% endblock %}