{% extends 'base.html' %}



{% block content %}
    <h2>Your Cart</h2>
    {% if pizzas %}
        <ul>
            {% for pizza in pizzas %}
                <li>
                    <strong>{{ pizza }}</strong><br>
                    Size: {{ pizza.size }}<br>
                    Cheese: {{ pizza.cheese }}<br>
                    Sauce: {{ pizza.sauce }}<br>
                    Crust: {{ pizza.crust }}<br>
                    Toppings: 
                    {% for topping in pizza.toppings.all %}
                        {{ topping }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    <p>Quantity: {{pizza.quantity}}</p>
                    <p>Price: {{ pizza.price|floatformat:2 }}</p>
                    <p>Actual Price: {{ pizza.total|floatformat:2 }}</p>
                </li>
            {% endfor %}
            <p>Total: {{ cart.price|floatformat:2 }}</p>
        </ul>
    {% else %}
        <p>Your cart is empty!</p>
    {% endif %}
{% endblock %}